<div class="container" *ngIf="pageLoaded">

  <div class="columns is-centered">

    <div class="box column is-one-third">
      <p class="has-text-centered">
        <span [class]="compare()" *ngFor="let word of randomText.split(' '); let i = index">
          {{ word }}
        </span>
      </p>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Translate:</span>
        </div>
        <textarea class="form-control" aria-label="With textarea" (input)="onInput($event.target.value)"></textarea>
      </div>
      <div class="box has-text-centered" id="success" *ngIf="challangeComplete">
        <h1>Success!</h1>
      </div>
      <div class="container buttons">
        <div class="row">
          <div class="col-6 text-left">
            <div class="previous">
              <button type="button" class="btn btn-dark" (click)="exit()">Refresh</button>
            </div>
          </div>
          <div class="col-6 text-right">
            <div class="next">
              <button type="button" class="btn btn-info" (click)="onShowTranslationBtnClick()">Help</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div *ngIf="showTranslation">
    <p> {{randomTextTranslated}} </p>
  </div>

  <p> {{similarity(randomTextTranslated, typedText)}} </p>
</div>