<div class="container">

  <div class="columns is-centered">

    <div class="box column is-one-third">
        <h1 class="title has-text-centered">Translate Challange</h1>

        <p class="has-text-centered" >
          <span [class]="compare(letter,typedText[i])" *ngFor="let letter of randomText.split('');
          let i = index">{{ letter }}</span>
        </p>

        <div class="field">
          <input class="input" (input)="onInput($event.target.value)" />
        </div>
        <div class="box has-text-centered" id="success" *ngIf="typedText === randomText">
          <h1>Success!</h1>
        </div>
        <button (click)="exit()">Refresh</button>
    </div>
      
  </div>
  
 <button id="translatebtn" (click)="send()">Translate</button>
 <!-- <table>
   <tr>
     <th>Id</th>
     <th>Language</th>
   </tr>

   <tr *ngFor = "let lang of listLanguages">
     <th>{{lang.id}}</th>
     <th>{{lang.id.language}}</th>
   </tr>
 </table> -->
</div>